<?xml version="1.0"?>

<!--
 - $Header$
 - 
 - Sample config.xml for CruiseControl
 - 
 - Copyright (C) 2005  Christopher G. Stach II <cgs@ldsys.net>
 - 
 - This program is free software; you can redistribute it and/or
 - modify it under the terms of the GNU General Public License
 - as published by the Free Software Foundation; either version 2
 - of the License, or (at your option) any later version.
 - 
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 - GNU General Public License for more details.
 - 
 - You should have received a copy of the GNU General Public License
 - along with this program; if not, write to the Free Software
 - Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 -->

<cruisecontrol>

    <system>
        <configuration>
            <threads count="4" />
        </configuration>
    </system>

    <plugin name="labelincrementer"
            classname="net.sourceforge.cruisecontrol.labelincrementers.CVSLabelIncrementer" />

    <!--
     - Template (Replace XXX with cvs module name)
     - -cgs
     - 
    <project name="XXX" buildafterfailed="false">
        <listeners>
            <currentbuildstatuslistener file="logs/XXX/buildstatus.txt" />
        </listeners>
        <bootstrappers>
            <!- Common build stuff is in this project -cgs ->
            <cvsbootstrapper cvsroot="/cvsroot"
                             localworkingcopy="checkout/common-build" />
            <cvsbootstrapper cvsroot="/cvsroot"
                             localworkingcopy="checkout/XXX"
                             file="build.xml" />
        </bootstrappers>
        <modificationset quietperiod="180">
            <cvs cvsroot="/cvsroot"
                 localworkingcopy="checkout/XXX" />
            <filesystem folder="forcebuild/XXX"
                        property="build.forced"
                        username="build.forced" />
        </modificationset>
        <schedule interval="300">
            <ant antscript="/usr/bin/ant"
                 antworkingdir="checkout/XXX"
                 buildfile="build.xml"
                 target="cleanbuild"
                 uselogger="true"
                 usedebug="false"
                 multiple="5" />
            <ant antscript="/usr/bin/ant"
                 antworkingdir="checkout/XXX"
                 buildfile="build.xml"
                 target="build"
                 uselogger="true"
                 usedebug="false" />
        </schedule>
        <log dir="logs/XXX">
            <merge dir="checkout/XXX/test-results" />
            <merge file="checkout/XXX/pmd_report.xml" />
        </log>
        <dateformat format="yyyy-MM-dd HH:mm:ss" />
        <labelincrementer />
    </project>
     -->

</cruisecontrol>

