[Desktop Entry]
Name=Eclipse @PV@
Comment=A Java Development Environment
Icon=/usr/lib/eclipse-3.1/icon.xpm
Exec=/usr/bin/eclipse-3.1
Terminal=false
Type=Application
Categories=GNOME;Application;Development
StartupNotify=true
