BODY {
	color: black; 
	font-family: sans-serif, Verdana, Arial, Helvetica; 
/* Waaaay too much complaints... really, people should learn how to
   fix their browser settings. */
	font-size: 0.8em;
  padding:0;
}

.dochead {
	margin-top: 1.5em;
	font-size: 1.7em;
	font-weight: bold;
}

.chaphead { 
	font-size: 1.3em; 
	font-weight: bold; 
}

.chapnum {
	font-size: 0.85em;
}

.secthead {
	font-size: 1.1em;
	color: #5a3aca;
	font-weight: bold;
	font-family: sans-serif, Verdana, Arial, Helvetica;
}

.subsecthead {
	color: #7a5ada;
	font-size: 1.0em;
	font-weight: bold;
	font-family: sans-serif, Verdana, Arial, Helvetica;
}

a.highlight:link { color: #00ff00; text-decoration: none; }
a.highlight:visited { color: #00ff00; text-decoration: none; }
a.highlight:hover { color: #00ff00; text-decoration: underline; }
a.highlight:active { color: #00ff00; text-decoration: underline; }

a.menulink:link { color: #a0a0f0; text-decoration: none; }
a.menulink:visited { color: #a0a0f0; text-decoration: none; }
a.menulink:hover { color: #00ff00; text-decoration: underline; }
a.menulink:active { color: #00ff00; text-decoration: underline; }

a.oldlink:link { color: #9090c0; text-decoration: none; }
a.oldlink:visited { color: #9090c0; text-decoration: none; }
a.oldlink:hover { color: #00ff00; text-decoration: underline; }
a.oldlink:active { color: #00ff00; text-decoration: underline; }

a.altlink:link { color: #7a5ada; text-decoration: none; }
a.altlink:visited { color: #5a3aba; text-decoration: none; }
a.altlink:hover { color: #7a5ada; text-decoration: underline; }
a.altlink:active { color: #7a5ada; text-decoration: underline; }

a.hotlink:link { color: #ff0040; text-decoration: none; }
a.hotlink:visited { color: #dd0020; text-decoration: none; }
a.hotlink:hover { color: #ff0040; text-decoration: underline; }
a.hotlink:active { color: #ff0040; text-decoration: underline; }

a img {border:none; text-decoration:none; vertical-align:text-bottom;}

.menu {
	font-size: 1.0em;
	font-weight: bold;
	font-family: sans-serif, Verdana, Arial, Helvetica;
	color: #ffffff;
	padding-left: 1.0em;
	padding-right: 1.0em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
  margin-bottom: 0;
  line-height:1.6em;
}

li {margin-bottom: 5px;}
ol,ul {margin-top: 5px;}

.altmenu {
	font-size: 0.85em;
	font-weight: bold;
	font-family: sans-serif, Verdana, Arial, Helvetica;
	color: #000000;
	padding-left: 1.0em;
	padding-right: 1.0em;
  line-height:1.4em;
  margin-top:0;
  margin-bottom:0;
}

.alttext {
	font-size: 0.85em;
	font-family: sans-serif, Verdana, Arial, Helvetica;
	color: #000000;
  margin-top:0;
  margin-bottom:0;
}

.infotab {
	padding: 0.5em;
	margin-top: 1.0em;
	margin-left: 1.0em;
	margin-bottom: 1.0em; 
}

.codetitle {
	font-size: 0.9em;	
	font-family: sans-serif, Verdana, Arial, Helvetica;
	padding: 0.25em;
	margin-left: 1.0em;
	margin-top: 0;
  margin-bottom: 0;
	color: #ffffff;
	font-weight: bold;
}

.infohead {
	font-size: 0.80em;	
	font-family: sans-serif, Verdana, Arial, Helvetica;
/*	padding: 0.25em; */
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 1.0em;
	padding-right: 1.0em;
	margin-left: 1.0em;
	color: #ffffff;
  background-color: #7a5ada;
	font-weight: bold;
}

.infosub {
	margin-top: 0.25em;
	margin-bottom: 0.15em;
	margin-left: 0em;
	margin-right: 0.5em;
	padding: 0em;
	font-weight: bold;
}

.infolist {
	margin-top: 0.05em;
	margin-bottom: 0.05em;
	margin-left: 1.0em;
	margin-right: 0.5em;
	padding: 0em;
	padding-top: 0.3em;
}

.infogfx {
	padding: 0em;
}

.infotext {
	font-size: 0.85em;	
	font-family: sans-serif, Verdana, Arial, Helvetica;
	color: #320f61;
	margin-left: 1.5em;
	margin-right: 1.5em;
}
/*
.chaphead {
        margin: 1.2em 14% 0.5em 3%;
        font-size: 1.6em;
        font-weight: bold;
}
*/
.copyright {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 0.4em;
  font-size: 0.85em;
  font-family: sans-serif, Verdana, Arial, Helvetica;
	text-align: center;
	color: #404040;
}

.copyright a:link, .copyright a:visited {
	text-decoration: underline;
	color: #404040;
}

.copyright a:hover { 
	text-decoration: underline;
	color: #4040f0;
	
}

.subhead {
	font-family: sans-serif, Verdana, Arial, Helvetica;
	font-size: 1.2em;
	font-weight: bold;
	/*margin: 0.5em 0% 0.5em 0%;*/
}

.content {
	/*padding: 3em;*/
	padding-top: 0em;
	padding-left: 1.0em;
	padding-right: 1.0em; 
	font-family: sans-serif, Verdana, Arial, Helvetica;
	font-size: 1em;
}

.ntable {
	padding: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.ncontent {
	/*content with no padding, for an ugly Netscape 4.7 compatibility hack*/
	padding: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-family: sans-serif, Verdana, Arial, Helvetica;
	font-size: 0.9em;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5em;
	font-family: monospace, "Courier New";
	color: #000000;
	font-size: 0.9em;
  overflow: auto;
}

.news {
	padding-left: 1.0em;
	padding-right: 1.0em; 
	color: black;
  background-color: white;
	font-family: sans-serif, Verdana, Arial, Helvetica;
	font-size: 1em;
  text-align: justify;
  margin:10px;
}
.newsicon {
  float: left;
  margin-right: 12px;
  margin-bottom: 8px;
}
.newshead {
  background-color: #7a5ada;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	padding-left: 1.0em;
	padding-right: 1.0em; 
  color: white;
  text-align: left;
  clear:both;
}
.newsitem {
  text-align: justify;
}
.spacer {
  clear: both;
}

/* Colour coding inside <pre> */
.code-input      {color:#0000c8;}
.code-comment    {color:#d80000;}
.code-constant   {color:#F000F0;}
.code-identifier {color:#209090;}
.code-statement  {color:#982424;}
.code-variable   {color:#b89b1c;}
.code-keyword    {color:#0C680C;}


.code {
	font-family: monospace, "Courier New";
	color: #0000ff;
	font-size: 1.0em;
}

.path {
	font-family: monospace, "Courier New";
	font-size: 1.0em;
}

.emphasis {
	font-style: italic;
}

P.note {
  margin-top: 0;
  margin-bottom: 0;
	padding: 0.5em;
}

P.impo {
  margin-top: 0;
	padding: 0.5em;
}

P.warn {
  margin-top: 0;
	padding: 0.5em;
}

P.epigraph {
  margin: 1em 15% 1em 4em;
  font-style: italic;
  text-align: justify;
}
P.epigraph BR { line-height:0.8em;}
SPAN.episig {
  font-style: normal;
}

SUP, SUB {font-size:xx-small;}

.contentbox {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0.8em;
}

.logobg {
	background: #45347b;
}

.top {
	background: black;
	font-family: sans-serif, Verdana, Arial, Helvetica;
	font-size: 0.85em;
	color: #c0c0c0;
	padding: 0em;
	margin: 0em;
}

.topnews {
	background: #5f4e4e;
	color: white;
}

.tophead {
	color: #a7f3fe;
	font-weight: bold;
	margin: 0em;
}

.tableinfo {
	padding-left: 1.0em;
	padding-right: 1.0em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-size: 0.75em; 
	background: #ddddff;
	font-weight: bold; 
	font-family: sans-serif, Verdana, Arial, Helvetica;
  vertical-align: top;
}

/*
UL {
	margin: 0em;
	padding-top: 0em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 0em;
}

LI {
	padding-bottom: 0.5em;
}
*/
.toptext {
	color: #ffffff;
	margin-bottom: 7px;
}
.toptext a:hover {
        color: #00ff00;
}

.toptext a:link {
	font-style: normal;
  color: #00dd00;
}

.bartext {
	color: #40ff00;
	font-family: sans-serif, Verdana, Arial, Helvetica;
	font-size: 0.8em;
	padding: 0em;
}
.docs-index {
	margin: 0em;
	margin-left: 20px;
  font-family: sans-serif, Verdana, Arial, Helvetica;
	line-height: 1.25em; 
/*	border: 3px coral solid;*/
	border: 3px white solid;
}
/*this works fine in IE, but not in any other browser!, yet it's perfectly valid */
.docs-index .emphasis {
        font-style: normal;
        font-weight: bold;
}

.topsep {
  padding-top: 0.5em;
  border-top: 1px black solid;
}

.topsep img {margin-bottom:8px;}
.topsep form {margin-bottom:0;}

td.leftmenu p.altmenu a.altlink:before {content:"\2022\20"; color:#301060;}
/*
Escaped arrow does not work with konqueror
td.leftmenu p.altmenu a.altlink:before {content:"\2023\20"; color:#301060;}

Any UTF-8 encoded character does not work with konqueror
td.leftmenu p.altmenu a.altlink:before {content:"‣ "; color:#301060;}
*/
